* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-weight: 400;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    height: 100vh;
}

.content-container {
    height: 100vh;
    width: 100vw;
    background-color: #FAFAFA;
    overflow: auto;
    max-height: 100vh;
    display: flex;
}

.button.selected {
    color: rgba(255, 255, 255, 1);
}

.stage {
    padding     : 24px;
}

.button{
  margin      : 0;
  border      : 0;
  background  : transparent;
  font-size   : 1em;
  cursor      : pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

.lift-shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 2px;
}

.lift-shadow-soft {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 7px;
}

.floating-action-button {
    -webkit-user-select: none;
    user-select: none;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #2979FF;
    font-size: 30px;
    font-weight: 400;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

.floating-action-button-focus {
    border-radius: 0;
    height: 400px;
    width: 400px;
    background-color: white;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
    cursor: default;
}

.fab-header {
    height: 40px;
    width: 100%;
    background-color: #2979FF;
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 30px;
}


.filters-container {
    margin: 40px;
}

.filters {
    overflow: auto;
    max-height: 200px;
    padding: 10px;
}

.filter {
    width: 50vw;
    margin: 10px;
    font-size: 20px;
    border: none;
    background-color: white;
    min-height: 80px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
}

.filter-content {
    position: relative;
    font-size: 18px;
    background-color: #E3F2FD;
    padding: 5px 20px 5px 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

filter-pane {
    width: 100%;
    padding: 3px 0;
}

.filter-inputs, .mine-inputs {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.filter-input {
    line-height: 1.75em;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.add-button{
   height: 1.75em;
   font-size: 20px;
   color: #2962FF;
   align-self: flex-end;
   margin-top: 5px;
}

.remove-button {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    position: absolute;
    right: 0;
    bottom: 0;
    top: -2px;;
}

.suggestion-box {
    z-index: 2;
    color: rgba(0, 0, 0, 0.5);
    background-color: white;
    position: absolute;
    margin-top: 3px;
    width: 200px;
}

.suggestion {
    width: 100%;
    line-height: 1.25em;
    cursor: pointer;
}

.suggestion-focus {
    background-color: #BBDEFB;
}

input {
    line-height: 1.75em;
    border-top: none;
    border-left: none;
    border-right: none;
}

::-webkit-input-placeholder {
    font-style: italic;
}

input:focus {
    outline: 0;
    border-bottom-color: #2962FF;
}

#data-form {
    width: 100%;
    height: 100%;
}

.results-tag-line {
    font-size: 20px;
}

.sort-arrow-container {
    width: 20px;
}

.sort-arrow {
    margin: 0 5px;
}

.welcome-screen {
    margin: 0 200px;
}

#results-table {
    width: 75%;
    border-collapse: separate;
    border-spacing: 20px;
}

.table-column-title {
    display: flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

td {
    min-width: 100px;
}

td.number, th {
    text-align: center;
}

th span {
      width: 100%;
}

.mine-input {
    background-color: white;
    border-radius: 5px;
    margin: 5px 0;
}

.mine-input > input{
    background-color: transparent;

}

.add-filter-form {
    width: 100%;
    transition: all linear 0.1s;
    opacity: 1;
    padding: 10px;
    z-index: 2;
    position: absolute;
    background-color: white;
}

.add-filter-form.ng-hide {
    opacity: 0;
}

img { 
    height: 100px;
    width: auto;
}

.mine-button {
    width: 100px;
    align-self: center;
}

add-filters, add-data, add-mining{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: block;
}

pre {
    white-space: pre-wrap;
    margin: 0;
}

img { 
    height: 35px;
    width: auto;
}

#file-input {
    display: none;
}

.data-icons {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.data-icon {
    cursor: pointer;
}

.selection-notifier {
    align-self: center;
    margin-top: 10px;
    color: #2979FF;
}

.file-upload-check {
    color: green;
}

#mine-info {
    height: 150px;
}

.info {
    padding: 0 30px;
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.filters > div {
    width: 100%;
    display: flex;
}

.info-header {
    display: flex;
}

.info-title {
    width: 100%;
    border-bottom: 2px solid #9E9E9E;
    font-size: 20px;
}

.info-plus {
    margin: 0 0 0 20px;
}

#filters-fab {
    margin-top: 280px;
}

#targets-fab {
    margin-top: 460px;
}

floating-action-button {
    position: absolute;
    z-index: 3;
    right: -40px;
    top: 60px;
}

.disabled {
    pointer-events: none;
    background-color: #BDBDBD;
}

.waiting {
    pointer-events: none;
    opacity: 0.5;
}

.other-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 20px 0;
}

.side-nav-show-button {
    display: none;
    position: absolute;
    font-size: 30px;
    margin: 30px;
}


.sidebar-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-color: white;
      border-right: 1px solid rgba(0,0,0,0.14);
      padding-top: 60px;
      position: absolute;
}

.side-nav {
    position: relative;
    z-index: 50;
    min-width: 350px;
}

@media (max-width: 1000px) {
    .side-nav {
        min-width: 0;
        width: 0;
    }

    .side-nav-show-button {
        display: block;
    }

    .sidebar-container {
        visibility: hidden;
        width: 0;
        max-width: 0;
        /*opacity: 0;*/
        transform: translateX(-350px);
        -webkit-transform: translateX(-350px);
        -webkit-transition: visibility 0.1s, max-width 0.3s, width 0.2s, -webkit-transform 0.2s ease-in;
        transition: visibility 0.1s, max-width 0.3s, width 0.2s, transform 0.2s ease-in;
    }

    .mobile-sidebar-container {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        visibility: visible;
        position: absolute;
        width: 350px;
        max-width: 350px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: white;
        border-right: 1px solid rgba(0,0,0,0.14);
        padding-top: 60px;
        /*opacity: 1;*/
    }
    
    #results-table {
        width: auto;
        border-spacing: 10px;
    }
}

.display-area {
    padding: 60px 0 0 0;
    height: 100vh;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
