<form class="mine-inputs" id="mine-form'" ng-submit="getAssociationRules()">
    <div class="mine-input mining-param-fields">
        <label>Minimum Support</label>
        <input type="text" placeholder="Value from 0 to 1" ng-model="$parent.minsup" />
    </div>
    <div class="mine-input mining-param-fields">
        <label>Minimum Confidence</label>
        <input type="text" placeholder="Value from 0 to 1" ng-model="$parent.minconf" />
    </div>

    <input style="display: none" type="submit" value="Mine" />
</form>
