<div ng-show="!$parent.actionButtonClicked">
    <img src="app/assets/img/dig.svg"/>
</div>
<form class="mine-inputs" ng-show="$parent.actionButtonClicked" id="mine-form'" ng-submit="getAssociationRules()">
    <div class="fab-header">
        <span>Mining Details</span>
    </div>

    <div class="mine-input mining-param-fields">
        <label>Minimum Support</label>
        <input type="text" ng-model="minsup" />
    </div>
    <div class="mine-input mining-param-fields">
        <label>Minimum Confidence</label>
        <input type="text" ng-model="minconf" />
    </div>

    <input class="button add-button" type="submit" value="Mine" ng-blur="$parent.closeActionMenu()" />
</form>
