<div ng-controller="SidebarCtrl">
    <div class="info" id="data-info">
        <div>
            <div class="info-title">Data</div>
        </div>
        <add-data></add-data>
        <span>{{service.getDataFile().name}}</span>
    </div>
    
    <filter-display fact-stage="Filters"></filter-display>

    <div class="info">
        <div class="info-header">
            <div class="info-title">
                Targets
            </div>
            <i class="fa fa-plus info-plus" ng-click="showInputForm('Target')" tabindex="8000" ng-blur="closeInputForm()"></i>
        </div>
        <add-filters fact-stage="Targets" button-clicked="addTargetButtonClicked" close-input-form="closeInputForm()"></add-filters>
        <div class="filters">
            <div ng-repeat="target in targets = service.getTargets()">
                <filter-pane fact="target" facts="targets" fact-stage="Targets"></filter-pane>
            </div>
        </div>
    </div>

    <div class="info" id="mine-info">
        <div>
            <div class="info-title">Mine</div>
        </div>
        <add-mining></add-mining>
        <floating-action-button id="mine-fab">
            <img src="app/assets/img/dig.svg" />
        </floating-action-button>
    </div>
    
</div>