<div ng-controller="SidebarCtrl">
    <div class="info">
        <div>
            <div class="info-title">Data</div>
            <span class="add">+</span>
        </div>
        <add-data></add-data>
        {{service.getDataFile().name}}
    </div>
    <div class="info">
        <div class="info-title">
            Filters
        </div>
        <add-filters fact-stage="Filters"></add-filters>
        <div ng-repeat="filter in service.getFilters()">
            {{filter.type}}
            {{filter.name}}
            {{filter.value}}
        </div>
    </div>
    <div class="info">
        <div class="info-title">
            Targets
        </div>
        <add-filters fact-stage="Targets"></add-filters>
        <div ng-repeat="target in service.getTargets()">
            {{target.type}}
            {{target.name}}
            {{target.value}}
        </div>
    </div>

    <div class="info">
        <div class="info-title">
            Mine
        </div>
        <add-mining></add-mining>
    </div>
</div>