<div ng-controller="SidebarCtrl">
    <div class="info" id="data-info">
        <div>
            <div class="info-title">Data</div>
        </div>
        <add-data></add-data>
        <span>{{service.getDataFile().name}}</span>
    </div>
    
    <filter-display fact-stage="Filters"></filter-display>
    <filter-display fact-stage="Targets"></filter-display>

    <div class="info" id="mine-info">
        <div>
            <div class="info-title">Mine</div>
        </div>
        <add-mining></add-mining>
        <floating-action-button id="mine-fab">
            <img src="app/assets/img/dig.svg" />
        </floating-action-button>
    </div>
    
</div>