<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="app//assets/css/style.css" />
    <title>Chess Mining App</title>
</head>
<body ng-app="ChessMining">
    <div class="toolbar" ng-controller="ToolbarCtrl">
        <span style="width: 240px"></span>
        <span ng-repeat="stage in stages">
            <a class="button stage" ng-href="#/{{stage}}" ng-click="selectStage($index)" ng-class="{'selected': stageSelected === $index}">{{stage}}</a>
            <i ng-if="!$last" class="fa fa-angle-right"></i>
        </span> 
    </div>
    <div class="side-nav">
        <ng-include ng-controller="SidebarCtrl" src="app/components/sidebar/sidebar.html"></ng-include>
    </div>
    
    <div class="content-container">
        <div ng-view class="content"></div>
    </div>
    
    <!-- app dependencies -->
    <script src="Scripts/jquery-2.1.3.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.service.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/shared/inputSuggestionField/inputSuggestionField.directive.js"></script>
    <script src="app/shared/floatingActionButton/floatingActionButton.directive.js"></script>
    <script src="app/shared/addFilters/addFilters.directive.js"></script>
    <script src="app/shared/keyThroughOptions/keyThroughOptions.directive.js"></script>
    <script src="app/shared/filterPane/filterPane.directive.js"></script>
    <script src="app/shared/addData/addData.directive.js"></script>
    <script src="app/shared/addMining/addMining.directive.js"></script>
    <script src="app/components/home/home.controller.js"></script>
    <script src="app/components/data/data.controller.js"></script>
    <script src="app/components/filter/filter.controller.js"></script>
    <script src="app/components/mine/mine.controller.js"></script>
    <script src="app/components/toolbar/toolbar.controller.js"></script>
    <script src="app/components/sidebar/sidebar.controller.js"></script>
</body>
</html>
