<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="fab" class="button floating-action-button lift-shadow-soft" ng-class="{'floating-action-button-focus': actionButtonClicked}" ng-click="showActionMenu()" ng-blur="closeActionMenu()" tabindex="1">
        <span ng-if="!actionButtonClicked">+</span>
        <form class="filter-inputs" ng-if="actionButtonClicked" name="form" id="form'" ng-submit="submitFact('Filters')" ng-click="stopPropagation($event)">
            <div class="fab-header">
                <span>Add Filter</span>
            </div>
            <div class="filter-input">
                <label>Fact type: </label>
                <div>
                    <input type="text" placeholder="Search" ng-focus="showOptions('fact')" ng-blur="closeActionMenu()" ng-model="$parent.fact" />
                    <div class="suggestion-box">
                        <div class="suggestion" ng-if="factOptionsShown" ng-repeat="factOption in $parent.factOptions.facts | filter:$parent.fact" ng-click="selectFromSuggestedList(factOption, 'fact')">
                            {{factOption}}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!factOptionsShown">
                <div ng-if="$parent.fact === 'SimpleFact'" class="filter-input">
                    <label>Name: </label>
                    <div>
                        <input type="text" ng-focus="showOptions('name')" ng-blur="closeActionMenu()" ng-model="$parent.name" />
                        <div class="suggestion-box">
                            <div class="suggestion" ng-if="nameOptionsShown" ng-repeat="nameOption in $parent.factOptions.SimpleFact.validNameParams | filter:$parent.name" ng-click="selectFromSuggestedList(nameOption, 'name')">
                                {{nameOption}}
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!nameOptionsShown" class="filter-input">
                    <label>Value: </label>
                    <div>
                        <input type="text" ng-focus="showOptions('value')" ng-blur="closeActionMenu()" ng-model="$parent.$parent.$parent.value" />
                        <div class="suggestion-box">
                            <div class="suggestion" ng-if="$parent.valueOptionsShown" ng-repeat="valueOption in $parent.factOptions[$parent.fact].validValueParams | filter:$parent.value" ng-click="selectFromSuggestedList(valueOption, 'value')">
                                {{valueOption}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input class="button add-button" type="submit" value="Add" />
        </form>
    </div>
</body>
</html>
