<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="filters-container">
        <div class="filter" ng-repeat="fact in facts">
            <div class="filter-type">{{fact.type}}</div>
            <div class="filter-content">
                <span ng-show="fact.name" class="filter-value">{{fact.name}} - </span>
                <span class="filter-value">{{fact.value}}</span>
                <button class="button remove-button" ng-click="removeFact($index)"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
    
    <div id="fab" class="button floating-action-button lift-shadow-soft" ng-class="{'floating-action-button-focus': actionButtonClicked}" ng-click="showActionMenu()" ng-blur="closeActionMenu()" tabindex="1000">
        <span ng-show="!actionButtonClicked">+</span> 
        <form class="filter-inputs" ng-show="actionButtonClicked" name="form" id="form'" ng-submit="submitFact()" ng-click="stopPropagation($event)">
            <div class="fab-header">
                <span>Add Filter</span>
            </div>
            
            <input-suggestion-field 
                class="filter-input" 
                input-label="Fact" 
                input-type="fact" 
                close-action-menu="closeActionMenu()" 
                options="factOptions.facts">
            </input-suggestion-field>

            <input-suggestion-field 
                ng-show="fact === 'SimpleFact'"
                class="filter-input"
                input-label="Name" 
                input-type="name" 
                close-action-menu="closeActionMenu()" 
                options="factOptions.SimpleFact.validNameParams">
            </input-suggestion-field>

            <input-suggestion-field 
                class="filter-input" 
                input-label="Value" 
                input-type="value" 
                close-action-menu="closeActionMenu()" 
                options="factOptions[fact].validValueParams">
            </input-suggestion-field>

            <input class="button add-button" type="submit" value="Add" ng-blur="closeActionMenu()" />
        </form>
    </div>
</body>
</html>
