<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p class="results-tag-line" ng-show="rules[0]">Given the selected filters the following rules were found for the selected target...</p>
    <table id="results-table" ng-show="rules[0]">
        <thead>
            <tr>
                <th>Rule</th>
                <th ng-click="setPredicateAndReverse('Confidence')">
                    <div class="table-column-title">
                        <span>Confidence</span>
                        <div class="sort-arrow-container">
                            <i class="fa fa-caret-down sort-arrow" ng-show="predicate === 'Confidence' && reverse"></i>
                            <i class="fa fa-caret-up sort-arrow" ng-show="predicate === 'Confidence' && !reverse"></i>
                        </div>
                    </div>
                </th>
                <th ng-click="setPredicateAndReverse('AbsoluteSupport')">
                    <div class="table-column-title">
                        <span>AbsoluteSupport</span>
                        <div class="sort-arrow-container">
                            <i class="fa fa-caret-down sort-arrow" ng-show="predicate === 'AbsoluteSupport' && reverse"></i>
                            <i class="fa fa-caret-up sort-arrow" ng-show="predicate === 'AbsoluteSupport' && !reverse"></i>
                        </div>
                    </div>
                </th>
                <th ng-click="setPredicateAndReverse('RelativeSupport')">
                    <div class="table-column-title">
                        <span>RelativeSupport</span>
                        <div class="sort-arrow-container">
                            <i class="fa fa-caret-down sort-arrow" ng-show="predicate === 'RelativeSupport' && reverse"></i>
                            <i class="fa fa-caret-up sort-arrow" ng-show="predicate === 'RelativeSupport' && !reverse"></i>
                        </div>
                    </div>
                </th>
                <th ng-click="setPredicateAndReverse('LiftCorrelation')">
                    <div class="table-column-title">
                        <span>LiftCorrelation</span>
                        <div class="sort-arrow-container">
                            <i class="fa fa-caret-down sort-arrow" ng-show="predicate === 'LiftCorrelation' && reverse"></i>
                            <i class="fa fa-caret-up sort-arrow" ng-show="predicate === 'LiftCorrelation' && !reverse"></i>
                        </div>
                    </div>
                </th>
                <th ng-click="setPredicateAndReverse('ProbabilityBefore')">
                    <div class="table-column-title">
                        <span>ProbabilityBefore</span>
                        <div class="sort-arrow-container">
                            <i class="fa fa-caret-down sort-arrow" ng-show="predicate === 'ProbabilityBefore' && reverse"></i>
                            <i class="fa fa-caret-up sort-arrow" ng-show="predicate === 'ProbabilityBefore' && !reverse"></i>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in rules = $appService.getResults() | orderBy:predicate:reverse">
                <td>{{rule.Value}}</td>
                <td class="number">{{rule.Confidence | number}}</td>
                <td class="number">{{rule.AbsoluteSupport | number}}</td>
                <td class="number">{{rule.RelativeSupport | number}}</td>
                <td class="number">{{rule.LiftCorrelation | number}}</td>
                <td class="number">{{rule.ProbabilityBefore | number}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
