<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table id="results-table" ng-show="rules[0]">
        <thead>
            <tr>
                <th>Rule</th>
                <th>Confidence</th>
                <th>AbsoluteSupport</th>
                <th>RelativeSupport</th>
                <th>LiftCorrelation</th>
                <th>ProbabilityBefore</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in rules = $appService.getResults()">
                <td>{{rule.Value}}</td>
                <td class="number">{{rule.Confidence | number}}</td>
                <td class="number">{{rule.AbsoluteSupport | number}}</td>
                <td class="number">{{rule.RelativeSupport | number}}</td>
                <td class="number">{{rule.LiftCorrelation | number}}</td>
                <td class="number">{{rule.ProbabilityBefore | number}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
